root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.{cs,csx}]
indent_size = 4
# Дозволяємо file-scoped namespace (namespace Foo; замість блоку).
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_prefer_primary_constructors = true:suggestion
dotnet_style_prefer_conditional_expression_over_return = true:suggestion

[*.{json,jsonc,csproj,props,targets,slnx,http}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
